.caf_item{padding-left: 100px;line-height: 30px !important;margin-top: 10px;}
.cafi_title{float: left;margin-left: -100px;}
.create_box{border: 1px solid #ccc;padding: 10px;width: 800px;background: #fff;}
.cfR-range{margin-top: 20px;}
